.product-category-page {
  margin: 20px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-category-page h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

/* Sous-catégories avec images */
.subCategoryLink {
  flex: 1;
  margin: 1em;
  position: relative;
  width: calc((100% - 4em) / 3);
}

.subCategoryLink img {
  width: 100%;
  vertical-align: top;
}

.subCategoryLink p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Liste des liens de sous-catégories */
.product-category-page ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-category-page ul li {
  margin: 10px 0;
}

.product-category-page ul li a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.product-category-page ul li a:hover {
  text-decoration: underline;
}

/* Titre des produits */
.product-category-page h3 {
  font-size: 1.2em;
  margin-top: 40px;
  color: #444;
  width: 100%;
  text-align: center;
}

/* Grille des produits */
.productsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  justify-content: space-between;
}

.productItem {
  flex: 1 1 calc(25% - 1em);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  padding: 10px;
}

.productItem img {
  max-width: 100%;
  vertical-align: top;
}
