.navBar {
  display: flex;
  justify-content: space-around;
  padding: 0.2rem 0;
  border-radius: 25px;
  background-color: var(--navbar-bg, #ddd);
}

.navLink {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.navLink:hover {
  background-color: var(--navbar-hover-bg, #ccc);
}

.dropdown {
  position: relative;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdownLink {
  pointer-events: none;  /* Empêche les clics sur ce lien, ce qui force l'utilisateur à choisir une sous-catégorie */
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: column;
  border-radius: 0 0 25px 25px;
  background-color: var(--navbar-bg, #ddd);
}

.dropdown:hover .submenu {
  display: flex;
}
