:root {
  /* Couleurs */
  --primary-color: #3498db; /* Vous pouvez changer cette valeur */
  --secondary-color: #2c3e50; /* Vous pouvez changer cette valeur */
  --background-color: #ecf0f1; /* Vous pouvez changer cette valeur */
  --font-color: #333; /* Vous pouvez changer cette valeur */
  --main-color: #3498db;
  --secondary-color: #2c3e50;
  --third-color: #ecf0f1;
  --fourth-color: #8e44ad;
  --fifth-color: #f39c12;
  --sixth-color: #333;

  /* HomePage */
  --home-page-bg: #e6f7ff;
  --home-page-container-bg: #b3e0ff;

  /* ProductsPage */
  --products-page-bg: #ffe6e6;
  --products-page-container-bg: #ffb3b3;

  /* ProductDetailsPage */
  --product-details-page-bg: #e6ffe6;
  --product-details-page-container-bg: #b3ffb3;

  /* CartPage */
  --cart-page-bg: #ffffe6;
  --cart-page-container-bg: #ffffb3;

  /* CheckoutPage */
  --checkout-page-bg: #ffe6ff;
  --checkout-page-container-bg: #ffb3ff;

  /* UserProfilePage */
  --user-profile-page-bg: #e6e6ff;
  --user-profile-page-container-bg: #b3b3ff;

  /* LoginPage (si nécessaire) */
  --login-page-bg: #f2e6e6;
  --login-page-container-bg: #e6b3b3;
  
  /* Polices */
  --primary-font: "Arial", sans-serif; /* Vous pouvez changer cette valeur */
  --secondary-font: "Verdana", sans-serif; /* Vous pouvez changer cette valeur */
}

body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: var(--font-color);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
